<?xml
        version="1.0"
        encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
<targets async="true">
    <target name="ElasticLogger" xsi:type="AsyncWrapper" queueLimit="10000" timeToSleepBetweenBatches="1000" batchSize="100" overflowAction="Discard">
        <target name="elastic" includeAllProperties="true" requireAuth="true" username="elastic" password="elastic" index="basketlogs"
                xsi:type="ElasticSearch" documentType="log" uri="http://elasticsearch:9200">
            <layout xsi:type="JsonLayout" includeAllProperties="true">
                <attribute name="enviroment" layout="Demo"/>
                <attribute name="logorigin" layout="NLog"/>
                <attribute name="machinename" layout="${machinename}"/>
                <attribute name="application" layout="Basket.API"/>
                <attribute name="longdate" layout="${longdate}" />
                <attribute name="threadid" layout="${threadid}" />
                <attribute name="level" layout="${level:upperCase=true}" />
                <attribute name="logger" layout="${logger}" />
                <attribute name="message" layout="${message}" />
                <attribute name="stacktrace" layout="${stacktrace} " />
                <attribute name="exception" layout="${exception:format=ToString}" />
            </layout>
        </target>
    </target>

    <target name="infoConsole" xsi:type="ColoredConsole" 
            layout="${longdate} ${level:upperCase=true}: ${message}${newline}(${stacktrace}) ${exception:format=ToString}${newline}${seperator}"/>
</targets>
<rules>
    <logger name="*" levels="Info" writeTo="infoConsole" />
    <logger name="*" minlevel="Info" writeTo="ElasticLogger" />
</rules>
</nlog>


